<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{blocks/head :: head}"></head>
<body>

<div th:insert="~{blocks/side-bar :: side-bar}"></div>


<main style="margin-left: 4.5rem; ">
    <header th:insert="~{blocks/header :: header}"></header>


    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1>Редактирование записи о кафе</h1>
          <p class="lead text-body-secondary">Мы собрали топ лучших кафе и ресторанов Минска, удостоенных премии GoldenChill, которая ежегодно проводится среди белорусских ресторанов.</p>
        </div>
      </div>
    </section>

<div class = "container">
  <div th:each="el : ${cafe}">
    <form method="post">
      <input type="text" th:value="${el.name}" name="name"  placeholder="Введите название кафе" class="form-control"><br>
      <input type="text" th:value="${el.address}" name="address"  placeholder="Введите адрес кафе" class="form-control"><br>
      <input type="number" th:value="${el.rating}" name="rating" step="0.1"  placeholder="Подкрутка рейтинга" class="form-control"><br>
      <input type="text" th:value="${el.linkPhoto}" name="linkPhoto"  placeholder="Введите ссылку на картинку" class="form-control"><br>
      <textarea  name="description" placeholder="Введите полное описание кафе" class="form-control" th:text="${el.description}"/><br>

      <select name="dishesAdd" class="form-control" multiple>
        <option value="" selected disabled>Выберите блюдо для добавления</option>
        <option th:each="dish : ${dishesAdd}" th:value="${dish.name}" th:text="${dish.name}" th:if="${!el.dishes.contains(dish)}"></option>
      </select>

      <select name="dishesDel" class="form-control" multiple>
        <option value="" selected disabled>Выберите блюдо для удаления</option>
        <option th:each="dish : ${dishesHave}" th:value="${dish.name}" th:text="${dish.name}"></option>
      </select>

<!--      <select name="categoriesDel" class="form-control" multiple>-->
<!--        <option value="" selected disabled>Выберите категорию для удаления</option>-->
<!--        <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>-->
<!--      </select>-->

      <button type = "submit" class="btn btn-success" >Обновить информацию</button>
    </form>
  </div>
</div>
</main>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>