<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{blocks/head :: head}"></head>

<body>
<div th:insert="~{blocks/side-bar :: side-bar}"></div>
<header th:insert="~{blocks/header :: header}"></header>


<div class = "container mt-5 mb-5">



      <h2>Редактирование рецепта</h2>
      <div th:each="el : ${recipe}">
        <form  method="post" class="form-floating" enctype="multipart/form-data">
          <div class="form-floating mb-3">
            <input type="text" name="name" class="form-control" id="floatingName" placeholder="Название" th:value="${el.getName()}">
            <label for="floatingName">Название</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" name="linkPhoto" class="form-control" id="floatingLinkPhoto" placeholder="Ссылка на фото" th:value="${el.getLinkPhoto()}">
            <label for="floatingLinkPhoto">Ссылка на фото</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" name="ingredients" class="form-control" id="floatingIngredients" placeholder="Ингредиенты" th:value="${el.getIngredients()}">
            <label for="floatingIngredients">Ингредиенты</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" name="servings" class="form-control" id="floatingServings" placeholder="Порция" th:value="${el.getServings()}">
            <label for="floatingServings">Порция</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" name="author" class="form-control" id="floatingAuthors" placeholder="Порция" th:value="${el.getAuthor()}">
            <label for="floatingServings">Автор</label>
          </div>


          <div class="form-floating mb-3">
            <textarea class="form-control" name="instructions" id="floatingInstructions" placeholder="Инструкции" style="height: 100px" th:text="${el.getInstructions()}"></textarea>
            <label for="floatingInstructions">Инструкции</label>
          </div>

          <br>

          <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn btn-success btn-lg" style="padding-left: 10em; padding-right: 10em;">Обновить рецепт</button>
          </div>
        </form>
      </div>


  </div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>