
<!--<div th: fragment = "header">
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="/cafes" class="nav-link">Заведения</a></li>
        <li class="nav-item"><a href="/cafes/add" class="nav-link">Добавить кафе</a></li>
        <li class="nav-item"><a href="/dishes" class="nav-link">Блюда</a></li>
        <li class="nav-item"><a href="/dishes/add" class="nav-link">Добавить блюдо</a></li>
        <li class="nav-item"><a href="/categories" class="nav-link">Категории</a></li>
        <li class="nav-item"><a href="/categories/add" class="nav-link">Добавить категорию</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">Про нас</a></li>
      </ul>
    </header>
  </div>
</div>-->




<div class="bs-component" th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor04">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>



  <script>
    // Get the current URL
    var currentUrl = window.location.href;

    // Get all the nav links
    var navLinks = document.getElementsByClassName("nav-link");

    // Loop through the nav links
    for (var i = 0; i < navLinks.length; i++) {
      var link = navLinks[i];

      // Check if the link's href matches the current URL
      if (link.href === currentUrl) {
        // Add the "active" class to the link
        link.classList.add("active");
      }
    }
  </script>
</div>

