<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{blocks/head :: head}"></head>

<body>

<header th:insert="~{blocks/header :: header}"></header>


<div class = "container mt-5 mb-5">
  <h1 style="text-align: center">Добавление новую категорию блюд</h1>
  <form action = "/categories/add" method="post" class="form-floating">

    <div class="form-floating mb-3">
      <input type="text" name="name" placeholder="Название категории" id="floatingName" class="form-control">
      <label for="floatingName">Название категории</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" name="link" placeholder="Cсылка на фото" id="floatingLink" class="form-control">
      <label for="floatingLink">Ссылка на фото</label>
    </div>


    <div class="input-group">
      <span class="input-group-text">Описание</span>
      <textarea  name="description" placeholder="Введите описание категории" class="form-control"></textarea>
    </div>
    <br>

    <div style="display: flex; justify-content: center;">
      <button type = "submit" class="btn btn-dark btn-lg" style="padding-left: 10em; padding-right: 10em;" >Добавить категорию</button>
    </div>
  </form>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>
</body>
</html>