<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{blocks/head :: head}"></head>

<body>
<div th:insert="~{blocks/side-bar :: side-bar}"></div>
<header th:insert="~{blocks/header :: header}"></header>


<div class = "container mt-5 mb-5">
  <h1>Редактирование блюда</h1>
  <div th:each="el : ${dish}">
  <form method="post">
    <input th:value="${el.name}" type="text" name="name" placeholder="Введите название блюда" class="form-control"><br>
    <input th:value="${el.weight}" type="number" name="weight" placeholder="Введите вес" class="form-control"><br>
    <input th:value="${el.price}" type="number" name="price" placeholder="Введите цену" class="form-control" step="0.01"><br>
    <input th:value="${el.linkPhoto}" type="text" name="linkPhoto" placeholder="Введите ссылку на фото" class="form-control"><br>
    <!--    <input type="text" name="category" placeholder="Введите категорию" class="form-control"><br>-->

    <select name="categoryName" class="form-control">
      <option th:text="${el.category.name}" th:value="${el.category.name}" selected></option>
      <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}" th:if="${!el.category.equals(category)}"></option>
    </select>

    <textarea  name="description" placeholder="Введите описание блюда" class="form-control" th:text="${el.description}"/><br>
    <button type = "submit" class="btn btn-success" >Обновить блюдо</button>
  </form>



<div class="container mt-5 mb-5">
  <h2>Добавление рецепта</h2>
  <div >
    <form th:action="'/dishes/' + ${el.getIdDish()} + '/edit/add-recipe'" method="post" class="form-floating" enctype="multipart/form-data">
      <div class="form-floating mb-3">
        <input type="text" name="name" class="form-control" id="floatingName" placeholder="Название">
        <label for="floatingName">Название</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" name="linkPhoto" class="form-control" id="floatingLinkPhoto" placeholder="Ссылка на фото">
        <label for="floatingLinkPhoto">Ссылка на фото</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" name="ingredients" class="form-control" id="floatingIngredients" placeholder="Ингредиенты">
        <label for="floatingIngredients">Ингредиенты</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" name="servings" class="form-control" id="floatingServings" placeholder="Порция">
        <label for="floatingServings">Порция</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" name="author" class="form-control" id="floatingAuthors" placeholder="Порция">
        <label for="floatingServings">Автор</label>
      </div>

      <div class="form-floating mb-3">
        <textarea class="form-control" name="instructions" id="floatingInstructions" placeholder="Инструкции" style="height: 100px"></textarea>
        <label for="floatingInstructions">Инструкции</label>
      </div>
      <br>

      <div style="display: flex; justify-content: center;">
        <button type="submit" class="btn btn-success btn-lg" style="padding-left: 10em; padding-right: 10em;">Добавить рецепт</button>
      </div>
    </form>
  </div>
</div>

</div>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>