<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{blocks/head :: head}"></head>
<body>
<div class="sidebar" th:insert="~{blocks/side-bar :: side-bar}"></div>
<div class="sidebar" th:insert="~{blocks/side-bar :: side-bar}"></div>

<header th:insert="~{blocks/header :: header}"></header>

<main class="content">
  <section class="hero">
    <div class="container">
      <h1 class="hero-title">Вся еда Минска здесь!</h1>
      <p class="hero-description">Сейчас в этом списке <b th:text="${dishCount}"></b> гастрономических изысков. Красной икры или трюфелей в нем, увы, пока нет. Но есть другие блюда, которые вы точно пробовали. Некоторые из них неплохо готовят в Минске.</p>
      <div class="hero-buttons">
        <a href="/dishes/add" class="btn btn-primary">Добавить блюдо</a>
        <a href="/aboutus" class="btn btn-secondary">Узнать больше о нашем деле</a>
      </div>
    </div>
  </section>

  <section class="dishes">
    <div class="container">
      <div class="row">
        <div class="col" th:each="el:${posts}">
          <div class="card">
            <img class="card-img" th:src="${el.linkPhoto}" alt="Dish Image">
            <div class="card-body">
              <h3 class="card-title" th:text="${el.name}"></h3>
              <p class="card-description" th:text="${el.description}"></p>
              <div class="card-footer">
                <div class="btn-group">
                  <a th:href="'/dishes/' + ${el.idDish}" class="btn btn-secondary">View</a>
                  <a th:href="'/dishes/' + ${el.idDish} + '/edit'" class="btn btn-secondary">Edit</a>
                </div>
                <small class="card-price" th:text="'~' + ${el.price} + '$'"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>